@tailwind base;
@tailwind components;
@tailwind utilities;

.rbox {
  border: 2px red solid;
}
.bbox {
  border: 2px blue solid;
}
.gbox {
  border: 2px green solid;
}

.pop {
  font-family: 'poppins';
}
